@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: 'Roboto', sans-serif;
}

.team-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.title {
  color: #E64629 !important;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 3px;
}
